@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fcf2f5;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.body {
  &__forms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.heads {
  &__input {
    position: relative;

    &-controls {
      width: 240px;
      height: 48px;
      padding: 0 66px 0 16px;
      border: 3px solid #87213c;
      border-radius: 26px;
      // border-color:#ff2961 ;
      background-color: #f9dde3;
      font-family: "Fredoka One", sans-serif;
      font-size: 20px;
      color: #87213c;
      caret-color: #ff2961;
      transition: background-color 0.5s ease-in-out;
      outline: none;
      z-index: 5;

      &:focus {
        border-color: #ff2961;
      }

      transform: translate(16px, 10px);
    }

    &-cloudy {
      position: absolute;
      top: 50%;
      left: 55%;
      width: 150%;
      transform: translate(-50%, -50%);
      fill: #fff;
    }

    &-lbl {
      position: absolute;
      top: -6%;
      left: 13%;
      font-size: 10px;
      letter-spacing: 0.8px;
      color: #87213c;
      font-family: "Fredoka One", sans-serif;
    }
  }

  &__button {
    display: flex;
   justify-content: center;
   align-items: center;
    position: absolute;
    top: 8px;
    right: -14px;
    height: 50px;
    width: 50px;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &-star {
      width: 40%;
      overflow: visible;
    }

    &-svg {
      fill: currentColor;
      stroke: var(--star-stroke, transparent);
      stroke-width: 3px;
    }
&:focus{
  outline: none;
  color: #ff2961;
}
    &:hover {
      --star-stroke: #87213c;
      transform: scale(1.2);
      color: #fae798;
    }
  }
}

.animation {
  z-index: 5;
  width: 200px;

  .kirby {
    &-star {
      stroke-width: 3px;
      stroke: currentColor;
      fill: #fae798;

      &-split {
        color: #87213c;
      }
    }

    &-foot {
      fill: #ff2961;
    }

    &-stroke {
      stroke: #87213c;
      stroke-width: 3px;
      stroke-miterlimit: 10;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }

    &-body {
      fill: #f9dde3;
    }

    &-mouth {
      &-open {
        &-inner {
          fill: #87213c;
        }

        &-tongue {
          fill: #ff2961;
        }
      }
    }
  }
}

